<h1>All our Flats</h1>

<% @flats.each do |flat| %>
  <div class="card" style="width: 18rem;">
    <img class="flat-card-image" src="https://picsum.photos/id/1/200/300" alt="flat image">
    <div class="card-body bg-light">
      <h5 class="card-title"><%= flat.name %></h5>
      <p class="card-text"><%= flat.description %></p>
        <div class="icons">
          <i class="fas fa-user-friends"></i>
          <span><%= flat.number_of_guests %></span>
          <i class="fas fa-dollar-sign"></i>
          <span><%= flat.price_per_night %></span>
        </div>
    </div>
    <div class="buttons m-3">
      <%= link_to "More Info", flat_path(flat)  %>
      <%= link_to  "Edit", edit_flat_path(flat), class: "text-warning"  %>
      <%= link_to "Remove", flat_path(flat), method: :delete, data: { confirm: "Are you sure?" }, class: "text-danger" %>
    </div>
  </div>
<% end %>